/*CSS body*/
body{
    background-color: rgb(199, 246, 255);
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}



/*CSS contenedores*/
.contenedorEncabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(255, 169, 169);
    border-radius: 25px;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 3%;
}

.contenedorNavegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    border-radius: 50px;
    background-color: rgb(207, 209, 255);
    margin-bottom:3%;
}

.contenedorSeccionIntroduccion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(211, 211, 211);
    border-radius: 25px;
    margin-bottom: 1%;
    height: fit-content;
}

.contenedorSeccionFuncionamiento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(211, 211, 211);
    border-radius: 25px;
    margin-bottom: 1%;
    height: fit-content;
}

.contenedorSeccionConclusiones{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: lightgrey;
    border-radius: 25px;
    margin-bottom: 1%;
    height: fit-content;
}


.contenedorSeccionAcercaDe{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    background-color: lightgrey;
    border-radius: 25px;
    margin-bottom: 3%;
    height: fit-content;
}

.contenedorFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(255, 169, 169);
    border-radius: 50px;
    font-size: 1.25em;
    font-weight: bold;
}



/*CSS elementos sueltos*/
.elementosNav{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: black;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 1%;
    margin-bottom: 1%;
    text-decoration: none;
}
.elementosNav:hover{
    color: gray;
    font-style: italic;
}

.encabezados{
    margin-left: 8.5%;
    margin-top: 3%;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.textoParrafos{
font-size: 1.25em;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-left: 8.5%;
margin-right: 8.5%; 
margin-bottom: 3%;
text-align: justify;
line-height: 200%;
}

.imagenes{
align-self: center;
margin-bottom: 1%;
border-radius: 25px;
}



/*CSS Botones*/
.boton{
    align-self: center;
    margin-bottom: 3%;
    margin-top: 3%;
    border-radius: 25px; 
}

.link{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.link:hover{
    font-style: italic;
}